<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

</head>

<body>
    <ul id="example-1">
        <li v-for="item in items" :key="item.message">
            {{ item.message }}
        </li>
    </ul>

    <ul id="example-2">
        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>
    <ul id="v-for-object" class="demo">
        <li v-for="value in object">
            {{ value }}
        </li>
        <hr>
        <li v-for="(value, name) in object">
            {{ name }}: {{ value }}
        </li>
        <hr>
        <li v-for="(value, name, index) in object">
            {{ index }}. {{ name }}: {{ value }}
        </li>

    </ul>

    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })

        var example2 = new Vue({
            el: '#example-2',
            data: {
                parentMessage: 'Parent',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })

        new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        });

        //在遍历对象时，会按 Object.keys() 的结果遍历，但是不能保证它的结果在不同的 JavaScript 引擎下都一致。
    </script>

    <div id="app">
        <ul>
            <li v-for="num in nums">{{num}}</li>
        </ul>

        <ol>
            <li v-for="(n,index) in 10">{{index}}</li>
        </ol>
    </div>

    <script>

        var app = new Vue({
            el: "#app",
            data: {
                nums: [
                    {n:11, id: 1},
                    {n:22, id: 2},
                    {n:33, id: 3},
                    {n:44, id: 4},
                    {n:55, id: 5},
                ]
            }
        })

    </script>
</body>

</html>